<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>
            Express Cats
        </title>

    </head>
    <body>
        <a href="/">Home</a>
        <a href="/cats">All Cats</a>
        <h1>Name: <%- cat.name %></h1>
        <h3>Breed: <%- cat.breed %></h3>
        <img src="<%= cat.img %>">

    </body>

</html>